SIW does not set control flag in MPA response

iw_cxgb4 is requestor, siw is responder

peer2peer (control flag A) is not set in the response.

15:35:56.107077 1.1.1.1.40149 > 1.1.1.2.4420: P 1:57(56) ack 1 win 32768 [mpa: start-req  C  pdlen 36 mpav2: enhanced - ird 32 ord 1  peer2peer read RTR]
15:35:56.107176 1.1.1.2.4420 > 1.1.1.1.40149: P 1:57(56) ack 57 win 229 [mpa: start-rep  C  pdlen 36 mpav2: enhanced - ird 1 ord 32  client/server] (DF)
[602801.286264] iw_cxgb4: process_mpa_reply: RTR mismatch, sending TERM

RFC 6581 section 9.2
"If Control Flag A is 1 in the MPA Request message, then the responder MUST set
Control Flag A to 1 in the MPA reply message."
